<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="../src/logo.ico">
  <title>Brain Master</title>


  <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/bootstrap-3.3.7-dist/css/bootstrap-yeti-min.css">
  <link rel="stylesheet" href="../css/bootstrap-notifications-master/bootstrap-notifications-master/dist/stylesheets/bootstrap-notifications.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="../index.html"><img id="logo"src="../src/logo.png" width="43px" height="43px"><span id="logo-type">Brain Master</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../challenges.html">Challenges</a></li>
        <li><a href="#">IQ test</a></li>
        <li><a href="../quiz.html">Quiz</a></li>
				<li class="active"><a href="#">Math</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"><span class="badge">+1</span></a>
            <div class="dropdown-container">
            <div class="dropdown-toolbar">
                <div class="dropdown-toolbar-actions">
                  <a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
                </div>
                <h3 class="dropdown-toolbar-title">Recent (1)</h3>
              </div><!-- /dropdown-toolbar -->

              <ul class="dropdown-menu notifications">
                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b98%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b98%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                        <div class="notification-meta">
                          <small class="timestamp">1. 9. 2015, 08:00</small>
                        </div>

                      </div>
                    </div>
                </li>
              </ul>
            </div>
        </li> 
        
        <li  role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"><span class="badge">+3</span></a>
            <div class="dropdown-container">
            <div class="dropdown-toolbar">
                <div class="dropdown-toolbar-actions">
                  <a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
                </div>
                <h3 class="dropdown-toolbar-title">Recent (3)</h3>
              </div><!-- /dropdown-toolbar -->

              <ul class="dropdown-menu notifications">
                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b8e%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b8e%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                        <p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>

                        <div class="notification-meta">
                          <small class="timestamp">27. 11. 2015, 15:00</small>
                        </div>
                      </div>
                    </div>
                </li>

                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b93%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b93%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>

                        <p class="notification-desc">Resolution: Fixed, Work log: 4h</p>

                        <div class="notification-meta">
                          <small class="timestamp">27. 10. 2015, 08:00</small>
                        </div>

                      </div>
                    </div>
                </li>

                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b98%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b98%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                        <div class="notification-meta">
                          <small class="timestamp">1. 9. 2015, 08:00</small>
                        </div>

                      </div>
                    </div>
                </li>
              </ul>
            </div>
        </li> 
        
        <li  role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"><span class="badge">+11</span></a>
            <div class="dropdown-container">
            <div class="dropdown-toolbar">
                <div class="dropdown-toolbar-actions">
                  <a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
                </div>
                <h3 class="dropdown-toolbar-title">Recent (11)</h3>
              </div><!-- /dropdown-toolbar -->

              <ul class="dropdown-menu notifications">
                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b8e%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b8e%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                        <p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>

                        <div class="notification-meta">
                          <small class="timestamp">27. 11. 2015, 15:00</small>
                        </div>
                      </div>
                    </div>
                </li>

                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b93%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b93%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>

                        <p class="notification-desc">Resolution: Fixed, Work log: 4h</p>

                        <div class="notification-meta">
                          <small class="timestamp">27. 10. 2015, 08:00</small>
                        </div>

                      </div>
                    </div>
                </li>

                <li class="notification">
                    <div class="media">
                      <div class="media-left">
                        <div class="media-object">
                          <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="50x50" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_159e5a15b98%20text%20%7B%20fill%3A%23919191%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_159e5a15b98%22%3E%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22%23cccccc%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%227.5%22%20y%3D%2229.5%22%3E50x50%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 50px; height: 50px;">
                        </div>
                      </div>
                      <div class="media-body">
                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                        <div class="notification-meta">
                          <small class="timestamp">1. 9. 2015, 08:00</small>
                        </div>

                      </div>
                    </div>
                </li>
              </ul>
            </div>
        </li>
           
        <li  class="dropdown">
          <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Username <span class="fa fa-caret-down"></span></a>
          <ul id="user-dropdown" class="dropdown-menu">
            <li><a href="#"><span class="fa fa-user-circle-o"></span> Profile</a></li>
            <li><a href="#"><span class="fa fa-gear"></span> Settings</a></li>
            <li><a href="#"><span class="fa fa-power-off"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>






  <div ng-app="app">
	<form ng-controller="GameCtrl" name="mathGameForm" class="game" ng-submit="checkAnswer()">
		<h1 class="text-center">Math Frenzy!</h1>
		<p ng-show="playingGame() || noGame()">See how many math problems you can answer correctly in one minute!</p>
		<p ng-class="{'alert-success': timer < 20, 'alert-warning': timer >= 20 && timer < 40, 'alert-danger': timer >= 40 && timer < 60 }" ng-show="playingGame()" class="alert h4 timer" role="alert">{{timer}}</p>	
		<p class="form-group" ng-class="{'has-error': isIncorrect(), 'has-success': isAnswer() }" ng-show="playingGame()">
			<label class="control-label center-block text-center h2">{{variables.x}} {{symbol}} {{variables.y}}</label>
			<input type="text" class="form-control" ng-model="answer" placeholder="Answer" />
		</p>
		<p class="h3" ng-show="endGame()">
			Time is up!</p>
		<p ng-show="endGame()">
			You answered {{correct}} out of {{correct+wrong}} correctly with an accuracy rating of {{accuracy() | number }}%
		</p>
		<div class="progress" ng-show="playingGame() || endGame()">
  		<div class="progress-bar" ng-class="{'progress-bar-success': accuracy() >= 75, 'progress-bar-warning': accuracy() >= 50 && accuracy() < 75, 'progress-bar-danger': accuracy() < 50}" role="progressbar" aria-valuenow="accuracy()" aria-valuemin="0" aria-valuemax="100" style="width: {{accuracy()}}%">
    <span>{{correct}} / {{wrong+correct}}</span>
  </div>
</div>
			<p class="text-center" ng-show="noGame() || endGame()">
			 <button type="button" ng-click="startGame()" class="btn btn-primary btn-lg"><span ng-show="noGame()">Start</span><span ng-show="endGame()">New</span> Game</button>
		</p>
	</form>
</div>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>

    <script src="js/index.js"></script>

  


  <script src='../js/jquery.js'></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/index.js"></script>

</body>

</html>
